@model projetCatalogueProduit.Models.CAT_CATEGORIE
@{
   ViewBag.Title = "AjoutCategorie";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AjoutCategorie</h2>

<div>

   @if ( (ViewBag.Message != null)  && (ViewBag.Message != ""))
   {
   <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
   </script>
   }


   <form id="formCategorie" name="formCategorie" action="" method="post" enctype="multipart/form-data">
      @if (Model != null)
      {
         <input type="hidden" name="CODE_CATEGORIE" id="CODE_CATEGORIE" value="@Model.CODE_CATEGORIE" />
      }

      <div class="form-group">
         <label>CATEGORIE</label>
         <input type="text" id="LIBELLE_CATEGORIE" name="LIBELLE_CATEGORIE" class="form-control" value="@(Model!=null? Model.LIBELLE_CATEGORIE:"")" required />
      </div>
      <div>
         @if (Model == null)
         {
            <input type="submit" id="enregistrer" name="enregistrer" value="enregistrer" class="btn btn-primary" />
         }
         else
         {
            <input type="submit" id="modifier" name="modifier" value="enregistrer Modification" class="btn btn-success" />

            <a href="~/Categorie/AjoutCategorie" class="btn btn-default">Annuler</a>
         }
      </div>
   </form>

   <hr />

   <div class="table-responsive">
      <table class="table table-bordered">
         <tr>
            <th>CATEGORIE</th>
            <th>DATE SAISIE</th>
         </tr>
         @foreach (var data in ViewBag.listeCategorie)
         {
            <tr>
               <td>@data.LIBELLE_CATEGORIE</td>
               <td>@data.DATE_SAISIE</td>
               <td><a href="~/Categorie/ModifierCategorie/@data.CODE_CATEGORIE" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span>Modifier</a> </td>
               <td><a href="~/Categorie/SupprimerCategorie/@data.CODE_CATEGORIE" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Supprimer</a></td>
            </tr>
         }
      </table>
   </div>
</div>